# Build Folders
bin/
obj/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# User-specific files
*.sln.ide

# NuGet Packages
*.nupkg
*.snupkg
packages/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Visual Studio Code
.vscode/